*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
        font-size: 13px;
    }

    //test color
    background-color: orange;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;

    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media only screen and (max-width: 600px) {
        font-size: 13px;
    }
}

h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;

    @media only screen and (max-width: 600px) {
        font-size: 11px;
    }
}

.content {
    width: 730px;

    @media only screen and (max-width: 800px){
        width: 573px;
    }

    @media only screen and (max-width: 600px){
        width: 327px;
    }
}